.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    img {
      width: 80px;
    }
  }
  .menu {
    ul {
      gap: 33px;
      list-style: none;
      display: flex;
      align-items: center;
      li {
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
}