.our-clients {
  padding: 70px 0;

  h4 {
    text-align: center;
    margin: 0 0 60px;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 0;
    li {
      img {
        height: 100px;
      }
    }
  }
}