.service-categories {
  background: #fff;
  padding: 30px 50px;
  border-radius: 15px;
  box-shadow: 0 9px 17px #eeeeee;
  margin-bottom: 100px;

  .main-services {
    display: flex;
    justify-content: space-between;
    .service-view {
      display: flex;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.1);
        }
        h5 {
          color: #272864;
        }
      }
      img {
        margin-right: 20px;
        transition: all 0.5s ease;
      }
      h5 {
        margin: 0;
        font-size: 16px;
        color: #5D778F;
        transition: all 0.5s ease;
      }
    }
  }
}
.sec-about {
  .title-p {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    margin: 30px 0;
    color: #5e5ea1;
    font-weight: 300;
    font-size: 22px;
  }
  &__options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 100px 0;
  }
  &__feature {
    text-align: center;
    background: #f8f8f8;
    padding: 28px;
    background: rgb(25, 121, 167);
    background: linear-gradient(326deg, rgba(25, 121, 167, 0) 0%, rgba(238, 235, 242, 0.37) 100%);

    border-radius: 30px;
    h4 {
      margin: 20px 0;
      font-size: 20px;
      color: #574d7c;
    }
    p {
      color: #868686;
    }
  }

}
.services {
  position: relative;
  .service-desc {
    text-align: center;
    padding: 40px 30px;
    margin: 30px 0;
    h6 {
      font-size: 25px;
      margin-bottom: 30px;
    }
    p {
      color: #737373;
      span {
        color: #7459b1;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }
  .service-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 80%;
      max-width: 275px;
    }
  }
}


@media (max-width: 800px) {
  .main-services {
    flex-direction: column;
    .service-view {
      margin: 15px 0;
      h5 {
        font-size: 18px !important;
      }
    }
  }
  .services {
    .service-img {
      img {
        width: 42%;
      }
    }
    .service-desc {
      padding: 0;
    }
  }
  .sec-about {
    &__options {
      grid-template-columns: repeat(1, 1fr);
    }
    &__feature {
      img {
        max-width: 100px;
      }
    }
    .title-p {
      font-size: 16px;
    }
  }
}